#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.Arizona{
    border:1px solid black;
    float: none;
}
.Arizona img{
    width:100%;
}
.Arizona p, .Arizona h5{
    margin-left:15px;
}
.movie_header{
    font-size:20px;
    margin-bottom:15px;
    width:100%;
    padding:6px 22px;
    display:inline-block;

    }
.movie_header i{
    float: right;
}
.tech_lid{
margin-top:10px;

}

.tech_lid h4 {
    padding:8px;
    border-bottom:2px solid white;
    font-style: italic;
    
}

.p_modal{
    margin-top:7px;
    text-align: center;
}

.img_modal{
    display:inline-block;
   
}